.user-panel {
  background-color: #CCDCEF;
  padding: 8px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}
 .header{
    box-shadow: 0 4px 8px 0 rgba(68, 52, 52, 0.2);
    margin: auto;
    text-align: center;
    color: white;
    background-color: black;
}
.customer-header-container{
    margin: 4.5em 0 0 4.4em;
    background-color: #007bff;
}
.header-container {
    display: flex;
    background-color: DodgerBlue;
  }
  
  .header-container > div {
    background-color: #f1f1f1;
    margin:1em;
    padding: 1em;
    font-size: 30px;
  }
  .header-logo {
    height: 3em;
    margin: 8px 0 0 11px;
  }