.sslabel{
    text-align: right;
}
.user-detail > input:disabled {
    background: #dddddd;
}

.search-body{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.user-detail{
    display: flex;
}
.user-profile{
    background-color: lightgrey;
}
.title{
   margin-left: 1em;
}